<div class="container mt-5">
  <h1 class="text-primary mb-3">Web Content Analyzer UI</h1>

  <div class="input-group mb-3">
    <input
      type="text"
      [(ngModel)]="inputUrl"
      class="form-control"
      placeholder="Enter URL" 
    />
    <button class="btn btn-primary" (click)="fetchContent()">Get Content</button>
  </div>
<div *ngIf="loading" style="margin-top: 1rem;">
  <p>Loading...</p>
  <div *ngIf="loading" class="progress-track">
  <div class="progress-bar"></div>
</div>
</div>
<div *ngIf="error" class="error">{{ error }}</div>

  <div *ngIf="content" class="card mt-3">
   
    <div class="card-body">
      <div>

  <!-- Title -->
  <h1>{{ content.title }}</h1>
  <p><strong>HTML Version:</strong> {{ content.htmlVersion }}</p> <!-- ✅ -->
  <!-- Headings -->
  <div *ngIf="content.headings?.length">
    <h3>Heading Summary</h3>

<table class="heading-table">
  <thead>
    <tr>
      <th>Heading Level</th>
      <th>Count</th>
      <th>Texts</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let level of getHeadingsByLevel() | keyvalue">
      <td>{{ level.key }}</td>
      <td>{{ level.value.length }}</td>
      <td>
        <ul>
          <li *ngFor="let text of level.value">{{ text }}</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
  </div>

  <!-- Links -->
  <div *ngIf="content.links?.length">
    <h2>Links:</h2>
    <div>
    <strong> Count of Internal Links:</strong> {{ content.internal_links }}
     </div><div>
     <strong> Count of External Links:</strong> {{ content.external_links }}
     </div><div>
         <strong>Is there any Inaccessible Links:</strong> {{ content.inaccessible_links>0 ? 'Yes' : 'No' }}
         </div><div *ngIf="content.inaccessible_links>0" >
          <strong>Count of Inaccessible Links:</strong> {{ content.inaccessible_links }}
  </div>
    <ul>
      <li *ngFor="let link of content.links">
        <a [href]="link" target="_blank">{{ link }}</a>
      </li>
    </ul>
    
  </div>

  <!-- Login detected -->
  <div>
    <strong>Login Detected:</strong> {{ content.login_detected ? 'Yes' : 'No' }}
  </div>

  <!-- Login indicators -->
  <div *ngIf="content.login_indicators?.length">
    <h2>Login Indicators:</h2>
    <ul>
      <li *ngFor="let indicator of content.login_indicators">
        {{ indicator }}
      </li>
    </ul>
  </div>

</div>

<div *ngIf="!content">
  No content found.
</div>

    </div>
  </div>
</div>
<style>
</style>